.energyContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.energyInfo {
    width: max-content;
    max-width: 33%;
}
.energyFullBar {
    background-color: #967d0072;
    width: 33%;
    backdrop-filter: blur(10px);
    height: 20px;
}
#energybar {
    background-color: rgb(255, 236, 95);
    height: 100%;
    box-shadow: 0 0 20px 5px rgba(250, 210, 48, 0.871);
    transition: 150ms linear;
}

.playerInfo, .planetInfo {
    position: fixed;
    width: max-content;
    max-width: 33%;
    height: max-content;
    max-height: 500px;
    padding: 20px;
    background-color: #8882;
    backdrop-filter: blur(10px);
    display: block;
    box-sizing: border-box;
    font-size: .75em;
}
.playerInfo {
    width: 600px;
    height: 300px;
    top: 0;
    right: 0;
}
.planetInfo {
    input {
        width: 100%;
    }
    bottom: 0;
    right: 0;
}
.field {
    display: flex;
    margin: 5px 0;
    gap: 10px;
    justify-content: space-evenly;
}
.field input {
    margin: 0;
    flex: 1 1 auto;
}
.field button {
    width: 150px;
}

h2 {
    text-align: center;
}

.infoGrid {
    margin: 20px 0;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
}

@import 'common.scss';

.game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
        display: block;
        background-color: #3338;
    }
    .form {
        padding: 1rem 2rem;

        display: flex;
        gap: 1rem;

        width: 100%;
        max-width: 20rem;

        flex-direction: column;
        align-items: center;
        text-align: center;

        input {
            width: 100%;
        }
        button {
            width: 33%;
        }
    }
}
#gui {
    position: fixed;
    top: 0;
    left: 0;
}